/* Add CSS styles to target specific elements in frontend.html */
    input[type="submit"] {
        background-color: blue;
        color: white;
        padding: 10px;
        border: none;
        cursor: pointer;
    }

    #pop-button {
        /* Add your desired styling properties here */
        background-color: red;
        color: white;
        padding: 5px;
        border: none;
        cursor: pointer;
    }

/* Style the image */
img {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

/* Style the form */
form {
    margin-bottom: 20px;
}

/* Style the input fields */
input[type="number"],
select {
    padding: 5px;
    margin-bottom: 10px;
}